<div class="view intro" style="background-image: url(/assets/marble.png); background-attachment: fixed; height: 500px;">
    <div class="full-bg-img mask rgba-white-strong">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
                <div class="row mt-5">
                    <!--Grid column-->
                    <div class="col-lg-5">
                        <h2 style="color: #c19232; letter-spacing: 3px;">Setting the Pacific Northwest's standard in lifestyle management & concierge services.</h2>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div style="letter-spacing: 3px;" class="col-lg-7">
                        <p>Busyness is a part of everyday American life. Some would even argue that we American's enjoy being busy and value it as a source of pride. If busyness is truly an integrated aspect of our lives, why not stay busy with doing the things that we love? The divide between leisure and work appears to be thinning.
                        </p><br><p>
                        Our work hours are creeping into the weekend and time at home, leaving Americans bankrupt in terms of time. This is where Bespoke Rose steps in. We enable our loyal customers to devote their time to doing what they love the most by automating, organizing, and managing tasks, events, and other necessities of life. </p>
                    </div>
                    <!--Grid column-->

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--Projects section v.4-->
<section class="text-center pb-3">

    <!--Section heading-->
    <h2 class="font-weight-bold h1 py-5">
        <strong>Our Services</strong>
    </h2>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image hoverable" style="background: url(/assets/automotive.jpg); background-size:cover; height: 260px;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Automotive</strong>
                        </h3>
                        <p class="pb-3">
                            Need help finding, legitimizing, and transporting an exotic vehicle? Maybe you just need a simple car for your second home in Bend, OR. Bespoke Rose will handle it. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image hoverable" style="background: url(/assets/travel.jpg); background-size:cover; height: 260px;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Travel</strong>
                        </h3>
                        <p class="pb-3">
                            We design travel experiences that are tailored to you. All logistics, necessities, and desires are managed and taken care of to personalize your travel.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image hoverable" style="background: url(/assets/realEstate.jpg); background-size:cover; height: 260px;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Real Estate</strong>
                        </h3>
                        <p class="pb-3">
                            A unique and tailored service in the most luxurious and prestigious real estate search. We can orchestrate your remodeling, designing or searching for your real estate needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image hoverable" style="background: url(/assets/fashion.jpg); background-size:cover; height: 260px;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Fashion & Art</strong>
                        </h3>
                        <p class="pb-3">
                            Whether you need someone to match you with a personal stylist or orchestrate the purchase, delivery, and installation of your new Sally Haley painting, our fashion and art specialists will streamline your needs. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image hoverable" style="background: url(/assets/dining.jpg); background-size:cover; height: 260px;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Dining</strong>
                        </h3>
                        <p class="pb-3">
                            Bespoke Rose cultivates relationships within the PNW to provide the finest restaurants and dining experiences. Our knowledgeable concierge can recommend the perfect locale for any occasion and arrange a reservation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <div class="card card-image hoverable" style="background: url(/assets/health.jpg); background-size:cover; height: 260px;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h3 class="py-3 font-weight-bold">
                            <strong>Health & Wellness</strong>
                        </h3>
                        <p class="pb-3">
                            Your body and wellness are the means by which you are able to accomplish great things. Our wellness specialists will ensure that you are taken care of to continue your lifestyle for years.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.4-->
</div>

<div class="view intro" style="background-image: url(/assets/blackmarble.jpg); background-attachment: fixed; height: 500px;">
    <div class="full-bg-img mask rgba-black-strong">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
                <div class="row mt-5">
                    <!--Grid column-->
                    <div class="col-lg-2">
                        <h2 style="color: #c19232; letter-spacing: 3px;">Our Mission</h2>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div style="color:white; letter-spacing: 3px;" class="col-lg-10">
                        <p>Our mission is to enable you to become time-rich. We believe that streamlining your life and managing processes, tasks, and other inconvenient logistics in your life will enrich your lifestyle. We provide the highest quality assistance so that you can reclaim your valuable time. Bespoke Rose enables you to return to what is fundamentally important in your life and business.</p>
                    </div>
                    <!--Grid column-->

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-4 text-center my-5"></div>
        <div class="col-md-4 text-center my-5">
            <h2 class="h1 font-bold grey-text mb-5">ENJOY LIFE ON YOUR TERMS. ENJOY THE BEST LIFE HAS TO OFFER.</h2>
            <p align="justify">From customizing your home to luxurious international travel itineraries, opera tickets to domestic property searches, private events to tutoring - we are the PNW's chosen service by those who prefer to streamline their life. We cater to those who consider themselves time-poor. We take their life or very specific aspects of their life and streamline everything.

Romantic getaways, art, and exotic car logistics. Find the need, and we'll take care of the rest. Our lifestyle management and concierge services will improve your overall lifestyle.</p>
<br><p>Portland to Seattle. Bend to Bellingham - the PNW's choice for luxury lifestyle management.</p>
        </div>
        <div class="col-md-4 text-center my-5"></div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<!--Footer-->
<footer class="page-footer special-color-dark text-center text-md-left pt-4 mt-4">


    <!--Call to action-->
    <div class="call-to-action text-center py-3">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a href="mailto:info@bespokerose.com" class="btn waves-light btn-rounded" mdbWavesEffect>Contact Us</a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
    <div class="text-center mb-3">

        <a href="https://www.facebook.com/Bespoke-Rose-146936202770296/" class="btn-floating btn-medium btn-fb mx-2 waves-light">
            <i class="fa fa-facebook"> </i>
        </a>
        <a href="https://twitter.com/BespokeRose" class="btn-floating btn-medium btn-tw mx-2 waves-light">
            <i class="fa fa-twitter"> </i>
        </a>
        <a href="https://www.instagram.com/bespokerose/" class="btn-floating btn-medium btn-ins mx-2 waves-light">
            <i class="fa fa-instagram"> </i>
        </a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright:
            <a href="https://www.bespokerose.com"> Bespoke Rose </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
