<!--Main Navigation-->
<header>

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a href="mailto:info@bespokerose.com" class="nav-link">Contact</a>
              </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a href="https://www.facebook.com/Bespoke-Rose-146936202770296/" class="nav-link"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a href="https://twitter.com/BespokeRose" class="nav-link"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a href="https://www.instagram.com/bespokerose/" class="nav-link"><i class="fa fa-instagram"></i></a>
              </li>
          </ul>
      </links>
    </mdb-navbar>

    <!-- Intro Section -->
      <div class="view jarallax">
        <!--Video source-->
            <video style="min-height:500px;" class="video-fluid" autoplay loop>
                <source src="/assets/intro.mp4" type="video/mp4" />
            </video>
            <div class="mask flex-center rgba-stylish-strong waves-light" mdbWavesEffect></div>

        <div class="full-bg-img mask rgba-black-light">
            <div class="container flex-center">
                <div class="row pt-5 mt-3 w-100">
                    <div class="col-md-12">
                        <div class="text-center">
                            <img style="display: initial;" src="/assets/logo_icon.png" alt="Responsive image">
                            <h2 style="letter-spacing: 10px;" class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown text-uppercase" data-wow-delay="0.3s"><strong>Bespoke Rose</strong></h2>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s" width="25%">
                            <h5 style="color: #c19232; letter-spacing: 3px;" class="font-up mb-5 wow fadeInDown" data-wow-delay="0.4s"><strong>Lifestyle Management &<br>Concierge Services</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!--Main Navigation-->