/* You can add global styles to this file, and also import other style files */

.my-header {
    transition: background-color 2s ease-out;
}

.top-nav-collapse {
    background-color: black !important;
    opacity: 0.9;
}